    .row {
        --bs-gutter-x: 0;
    }

    #div-home-header {
        width: 98%;
    }

    /*Center Content Styles*/
    #div-center-content {
        height: 480px;
    }

    .profile-content {
        width: 100%;
        max-width: 900px;
        min-width: 200px;
        margin: auto;
        margin-bottom: 10px;

    }

    .profile-content .list-group-item {
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }


    /*Left Content Styles*/

    #div-left-content {
        top: 40%;
        left: 0px;
        position: fixed;
    }

    #div-left-content .list-group {
        width: 100%;
        max-width: 500px;
    }

    /*Right Content Styles*/

    #div-right-content {
        top: 40%;
        right: 0px;
        position: fixed;
    }

    #div-right-content .container {
        max-width: 400px;

    }

    #div-right-content .container .row {
        width: 65%;

    }



    @media (max-width: 768px) {
        #div-right-content {
            position: static;
            width: 80%;
            margin-top: 40px;
        }

        #div-right-content .container {
            width: 100%;
        }

        #div-left-content {
            position: static;
        }

        #div-center-content {
            height: 500px;
        }

    }

    @media (max-width: 576px) {
        .profile-content .list-group-item {
            padding-bottom: 20px;
            padding-left: 2px;
            padding-right: 2px;
        }
    }