.row {
    --bs-gutter-x: 0;
}

#div-home-header {
    width: 98%;
}

/*Center Content Styles*/

/*Start Page Styles*/
#div-start-content {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 10px;
}

#button-login {
    padding: 10px 70px;
}

#button-signup {
    padding: 10px 50px;
}
/*Home Page Styles*/

/*Quiz Page Styles*/
.question-content {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(223, 242, 255);
}

.question-content > h4{
    color: white;
}

.form-check{
    border-radius: 4px;
}
/*Leaderboard Page Styles*/
#leaderboard-content {
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 100px;

}

#leaderboard-content .card-text {
    padding: 20px;
}

#leaderboard-content .list-group-item {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

/*Profile Page Styles*/
.profile-content {
    width: 100%;
    max-width: 900px;
    min-width: 200px;
    margin: auto;
    margin-bottom: 10px;

}

.profile-content .list-group-item {
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


/*Summary Page Styles*/
.summary-content {
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    margin: auto;
    margin-bottom: 10px;

}

.summary-content .card-text {
    padding: 20px;
}

.summary-content .list-group-item {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

/*Left Content Styles*/

#div-left-content {
    top: 40%;
    left: 0px;
    position: fixed;
}

#div-left-content .list-group {
    width: 100%;
    max-width: 500px;
}

/*Right Content Styles*/

#div-right-content {
    top: 40%;
    right: 0px;
    position: fixed;
}

#div-right-content .container {
    max-width: 400px;
}

#div-right-content .container .row {
    width: 65%;

}

@media (max-width: 768px) {
    #div-right-content {
        position: static;
        width: 80%;
        margin-top: 40px; /*Delete if pages are messed up*/
    }

    #div-right-content .container {
        width: 100%;
    }

    #div-left-content {
        position: static;

    }

    #leaderboard-content {
        margin-top: 40px;
    }

}

@media (max-width: 576px) {
    .profile-content .list-group-item {
        padding-bottom: 20px;
        padding-left: 2px;
        padding-right: 2px;
    }
}